[submodule "NI2S-Core"]
	path = NI2S-Core
	url = https://github.com/ARWNI2S/NI2S-Core.git
[submodule "NI2S-Node"]
	path = NI2S-Node
	url = https://github.com/ARWNI2S/NI2S-Node.git
[submodule "NI2S-ThirdParty"]
	path = NI2S-ThirdParty
	url = https://github.com/ARWNI2S/NI2S-ThirdParty.git
[submodule "NI2S-Unreal"]
	path = NI2S-Unreal
	url = https://github.com/ARWNI2S/NI2S-Unreal.git
[submodule "NI2S-Serialization"]
	path = NI2S-Serialization
	url = https://github.com/ARWNI2S/NI2S-Serialization.git
