@using DragonCorp.Metalink.Core;
@{
    Layout = "_Root.Head";
}

@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@{
    await Html.RenderPartialAsync("_JavaScriptDisabledWarning");
    await Html.RenderPartialAsync("_OldInternetExplorerWarning");
}
<div class="master-wrapper">
    @await Component.InvokeAsync(typeof(AdminHeaderLinksViewComponent))
    <div class="master-wrapper-content">
        <div class="master-wrapper-columns">
            <div class="columns-single">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync(typeof(EuCookieLawViewComponent))
@await Component.InvokeAsync(typeof(MarqueeViewComponent), new { text = T("AlphaVersion.Warning.Message").Text, marqueeStyle = MarqueeStyle.Warning })
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
