@using DragonCorp.Metalink.Core.Domain.Common
@inject CommonSettings CommonSettings
@if (CommonSettings.DisplayJavaScriptDisabledWarning)
{
    <noscript>
        <div class="noscript">
            <p>
                <strong>@T("Views.Shared.JavaScriptDisabledWarning")</strong>
            </p>
            <p>
                @T("Views.Shared.JavaScriptDisabledWarning.Hint")
            </p>
        </div>
    </noscript>
}
