@{
    var logoPath = "~/images/ie_warning.jpg";

}
<!--[if lte IE 8]>
    <div style="clear:both;height:59px;text-align:center;position:relative;">
        <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank">
            <img src="@Url.Content(logoPath)" height="42" width="820" alt="@T("Views.Shared.OldInternetExplorerWarning")" />
        </a>
    </div>
<![endif]-->